<% if flash[:alert] %>
 <strong><%= flash[:alert] %></strong>
<% end %>
<p>
  <%= form_with model: [commentable, Comment.new], method: :post do |form| %>
    <strong>New Comment</strong>:
    <%= form.text_field :body, required: true %>
    <input name="comment_type" type="hidden" value="<%= commentable.class %>">
    <%= form.submit 'Post' %>
  <% end %>
</p>
