<%= render "post" %>

<% @post.sections.each_with_index do |section, index| %>
  <h3><%= index+1 %>. <%= section.title %></h3>
  <p><%= section.body %></p>
<% end %>

<hr>
<h3>Comments</h3>
<%= render partial: "comments/comment", collection: @post.comments %>
<%= render partial: "comments/comment_new", locals: { commentable: @post } %>
