<%= render "post" %>

<% @post.sections.each_with_index do |section, index| %>
  <h3><%= index+1 %>. <%= section.title %></h3>
  <p><%= section.body %></p>
<% end %>


<%= render partial: "comments/comments", locals: { commentable: @post, comments: @post.comments } %>
