<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog Practice" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- HEADER -->
    <div>
      <h1>BLOG</h1>
      <hr>
      <!-- NAVBAR -->
      <button><%= link_to "Home", root_path %></button>
      <% unless logged_in? %>
        <button><%= link_to "Login", login_path %></button>
        <button><%= link_to "Sign up", new_user_path %></button>
      <% else %>
        <%= form_with url: logout_path, method: :delete do %>
          <%= submit_tag "Logout"%>
        <% end %>
        <p><strong>Logged in as <%= get_user.name %></strong></p>

      <% end %>
    </div>

    <hr>

    <% if flash[:log_success] %>
      <div><%= flash[:log_success] %></div>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
